[submodule "src/lib/hftrx_tinyusb_fork"]
	path = src/lib/hftrx_tinyusb_fork
	url = https://github.com/ylyamin/hftrx_tinyusb_fork
	branch = master_ua1arn
[submodule "src/lib/font"]
	path = src/lib/font
	url = https://github.com/dhepper/font8x8
[submodule "src/lib/puredoom"]
	path = src/lib/puredoom
	url = https://github.com/Daivuk/PureDOOM
