[submodule "src/external/hftrx_tinyusb_fork"]
	path = src/external/hftrx_tinyusb_fork
	url = https://github.com/ylyamin/hftrx_tinyusb_fork
	branch = master_ua1arn
[submodule "src/external/font"]
	path = src/external/font
	url = https://github.com/dhepper/font8x8
[submodule "src/external/puredoom"]
	path = src/external/puredoom
	url = https://github.com/Daivuk/PureDOOM
[submodule "src/external/tlsf"]
	path = src/external/tlsf
	url = https://github.com/mattconte/tlsf
